
<html>
    <head>
        <title>Vue-Udemy</title>
    </head>
    <body>

        <div id="app">
            <input type="text" name="text" :value="message" >
            <p v-if="toggle">aaa</p>
            <ol>
                <li v-for="color in colors">
                    {{ color }}
                </li>
            </ol>

        </div>        

    <script src="https://unpkg.com/vue@3.1.5"></script>

    <script>
        const app=Vue.createApp({
            data:()=> ({
                message: "Hello Vue3!",
                toggle: true,
                colors: ['Red', 'Green', 'Blue'],
           })
        })
        app.mount('#app')
    </script>

    </body>

</html>


