
<html>
    <head>
        <title>Vue-Udemy</title>
    </head>
    <body>

        <div id="app">
            <input type="text" name="text" :value="message" >
            <p v-if="toggle">aaa</p>
            <ul>
                <li v-for="(value, key) in user">
                    {{ key }} : {{ value }}
                </li>
            </ul>

        </div>        

    <script src="https://unpkg.com/vue@3.1.5"></script>

    <script>
        const app=Vue.createApp({
            data:()=> ({
                message: "Hello Vue3!",
                toggle: true,
                colors: ['Red', 'Green', 'Blue'],
                user: {
                    lastName: 'Waki',
                    firstName: 'Ryota',
                    prefecture: 'Kanagawa'
                },
 
           })
        })
        app.mount('#app')
    </script>

    </body>

</html>


